.wp-block-blocks-course-text-box {
	&.has-shadow {
		box-shadow: 0 0 20px rgb(0 0 0 / 30%);

		&.shadow-opacity-10 {
			box-shadow: 0 0 20px rgb(0 0 0 / 10%);
		}

		&.shadow-opacity-20 {
			box-shadow: 0 0 20px rgb(0 0 0 / 20%);
		}

		&.shadow-opacity-30 {
			box-shadow: 0 0 20px rgb(0 0 0 / 30%);
		}

		&.shadow-opacity-40 {
			box-shadow: 0 0 20px rgb(0 0 0 / 40%);
		}
	}

	&.text-box-align-left {
		text-align: left;
	}

	&.text-box-align-center {
		text-align: center;
	}

	&.text-box-align-right {
		text-align: right;
	}
}
